body{
	padding-bottom: 10rem;
}
h1{
	text-align: center;
}
h1, h2, h3, h4, h5{
/* 	margin-top: 1em; */
}

h5{
	margin-top: 1em;
}
.alert{
	margin-bottom: 1em;
}
.border-bottom{
	border-bottom: 1px solid rgb(49, 112, 143);
	margin: 0 0.5em 0.5em 0;
}

.padding-bottom{
	padding-bottom: 2rem;
}

form{
	margin-top: 6rem;
}
.form-group{
	margin-bottom: 0.2rem;
}

input, select, button{
	width: 100% !important;
}

.center{
	text-align: center;
}
