/* Basics */
html{
	font-size: 14px;
}
body{
	background-color: #000;
	color: #ddd;
	padding-bottom: 10rem;
}
h1, h2, h3, h4, h5{
	margin: 0;
}
.table > tbody > tr > td {
     vertical-align: middle;
}
.spaced-out{
	margin-top: 30px;
	margin-bottom: 30px;
}
.border-bottom{
	border-bottom: 1px solid rgb(49, 112, 143);
	margin: 0 0.5em 0.5em 0;
}
.padding-bottom{
	padding-bottom: 2rem;
}
.padding-bottom-sm{
	padding-bottom: 1rem;
}

/* Utilities */
.correct{
	color: #fff;
}
.incorrect{
	color: #888;
}
.capitalize{
	text-transform: capitalize;
}
.positive{
	color: #43ba70;
}
.negative{
	color: #cc4747;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}

/* Forms */
form{
	margin-top: 6rem;
}
.form-group{
	margin-bottom: 0.2rem;
}
input, select, button{
	width: 100% !important;
}

/* Score Displays */
.user-container{
	margin-top: 40px;
	background-color: #222;
	padding: 10px;
}
.table-responsive{
	margin-bottom: 15px;
	font-size: 12px;
}
.table{
	margin-bottom: 0;
}
.bg-success-dark{
	background-color: #2c6040;
}
.border-left{
	border-left: 1px solid grey;
}
.date-nav{
	font-size: 20px;
}
.user-image{
	width: 100px;
	height: 100px;
	margin: 20px auto;
	border-radius: 50%;
	text-align: center;
	background-color: rgba(255,255,255, 0.1);
	overflow: hidden;
}
.user-image img{
	max-width: 100%;
	height: auto;
}