.picks-table td{
	border-top: 1px solid rgba(45, 62, 89, 1);
}
.picks-table thead th{
	border-top: none;
	border-bottom: 2px solid rgba(45, 62, 89, 1);
}
.border-left{
	border-left: 1px solid rgba(45, 62, 89, 1);
}