th{
	text-align: inherit;
}
.table{
	margin-bottom: 0;
}
.table-sm td{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.table-sm{
	font-size: 0.9rem;
}
.active{
	background: rgba(45, 62, 89, 0.5);
}