.user-image{
	width: 100px;
	height: 100px;
	margin: 1rem auto;
	border-radius: 50%;
	text-align: center;
	background-color: rgba(255,255,255, 0.1);
	overflow: hidden;
}
.user-image img{
	max-width: 100%;
	height: auto;
}
.user-container{
	padding: 1rem;
}
.user-container:hover{
	cursor: pointer;
}
.active{
	background: rgb(45, 62, 89);
}