html {
	font-size: 13px;
}
body {
	margin: 0;
	padding: 0;
	background-color: rgb(25, 36, 53);
	color: rgba(255, 255, 255, 0.7);
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5{
	margin: 0;
}
h2, h3, h4, h5{
	font-family: 'Trocchi', sans-serif;
	font-style: italic;
}
h1{
	font-family: 'Patua One', sans-serif;
}
a{
	color: rgb(255, 130, 46) !important;
}
a:hover{
	cursor: pointer !important;
}
.bg-brand-primary{
	background-color: rgb(52, 84, 135);
}

/* Utilities */
/* TEXT */
.txt-faded{
	color: rgba(255, 255, 255, 0.3);
}
.txt-capitalize{
	text-transform: capitalize;
}
.txt-positive{
	color: #43ba70;
}
.txt-negative{
	color: #cc4747;
}
.txt-center{
	text-align: center;
}
.txt-left{
	text-align: left;
}
.txt-right{
	text-align: right;
}
.txt-bold{
	font-weight: bold;
}
.txt-italic{
	font-style: italic;
}
/* SPACING */
.spaced-out-sm{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.spaced-out-md{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.spaced-out-lg{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
/* BACKGROUNDS */
.bkg-positive{
	background: rgba(67, 186, 112, 0.1);
}
.bkg-negative{
	background: rgba(204, 71, 71, 0.1);
}